@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Mobile: 375px;
  --Desktop: 1440px;
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 20%);
  --Dark-Grey: hsl(0, 0%, 12%);
  --Off-Black: hsl(0, 0%, 8%);
  --Font-size: 14px;
}

body {
  font-family: "Inter", sans-serif;
  font-size: var(--Font-size);
  background-color: var(--Off-Black);
  color: var(--White);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 375px;
  height: 100vh;
}

main {
  font-family: "Inter", sans-serif;
  background-color: var(--Dark-Grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--White);
  border-radius: 10px;
  margin-bottom: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 40px 25px 40px;
}

.first {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 35px;
}

h2 {
  font-weight: 300;
  font-size: 25px;
  margin-bottom: 10px;
}

h4 {
  color: var(--Green);
  margin-bottom: 30px;
}

h5 {
  font-weight: 300;
  font-size: 14px;
  color: var(--White);
}

.last {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  background-color: var(--Grey);
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  padding: 20px;
  font-weight: 700;
  border-radius: 10px;
  transition: all 1.2s;
  font-size: 14px;
}

p:hover {
  background-color: var(--Green);
  transition: all 1.5s;
  color: var(--Grey);
  cursor: pointer;
}
